<div class="std-block">
    <div class="container">
        <h1>Download</h1>

        <div class="fullwidth-box">
            <h3 class="full-width-left">How to install the data:</h3>
            <br>
            <h4>General Information</h4>
            <p>
                This installation guide is for X Plane 9 only!                
            </p>
            <br>
            <p>
                X Plane 9 stores the navigational data in two different text-like files called <span class="path">earth_fix.dat</span> and <span class="path">earth_nav.dat</span> found in the<br>
                <span class="path">X-Plane/Resource/default data/</span> directory.<br>
                The earth_fix.dat just contains all FIX points, the earth_nav.dat on the other hand contains all Nav-aids like NDB, VOR, ILS, LOC, glideslope and marker beacons.
            </p>
            <br>
            <p>
                X Plane 10 and X Plane 11 may store navigation data in a similar way, please check for yourself, how this versions store and process navigation data.
            </p>
            <br>
            <h4>Quick Installation Guide</h4>
            Simply open the <span class="path">earth_fix.dat</span> and/or <span class="path">earth_nav.dat</span> file in a text editor of your choice and copy the data from the corresponding box below. Paste the data above the last row "99".<br>Save the file - and you are done. That's it.
            <p>&nbsp;</p>

            <h4>7 Steps for Installation</h4>
            <div>
                <ul>
                    <li>1) open one of the two files into a text editor of your choice</li>
                    <li>2) click into the corresponding box (should light up pink)</li>
                    <li>3) mark the whole list (strg-a)</li>
                    <li>4) copy (strg-c)</li>
                    <li>5) switch to the text editor with the corresponding file</li>
                    <li>6) scroll down and paste the copied list above the last row "99"</li>
                    <li>7) save the file and you are done.</li>
                </ul>
            </div>

        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="pull-left">
            <div class="full-width-left"><center>earth_fix.dat</center><br></div>
        <textarea class="download-box pull-left"><% @fix.each do |f| %>
&#32;<% if f.lat >= 0 %>&#32;<% end %><% if f.lat > -10 and f.lat < 10 %>&#32;<% end %><%= number_with_precision(f.lat, precision: 8) %>&#32;<% if f.lon >= 0 %>&#32;<% end %><% if f.lon > -10 and f.lon < 10 %>&#32;<% end %><% if f.lon > -100 and f.lon < 100  %>&#32;<% end %><%= number_with_precision(f.lon, precision: 8) %>&#32;&#32;<%= f.name %><% end %></textarea>
        </div>

        <div class="pull-right">
            <div class="full-width-left"><center>earth_nav.dat</center><br></div>
        <textarea class="download-box pull-rigth"><% @ndb.each do |n| %>
 2&#32;<% if n.lat >= 0 %>&#32;<% end %><% if n.lat > -10 and n.lat < 10 %>&#32;<% end %><%= number_with_precision(n.lat, precision: 8) %>&#32;<% if n.lon >= 0 %>&#32;<% end %><% if n.lon > -10 and n.lon < 10 %>&#32;<% end %><% if n.lon > -100 and n.lon < 100  %>&#32;<% end %><%= number_with_precision(n.lon, precision: 8) %>&#32;&#32;<%= n.elevation %>&#32;&#32;<%= n.frq %>&#32;&#32;<%= n.range %>&#32;&#32;0.0&#32;&#32;<%= n.identifier %>&#32;&#32;<%= n.name %><% end %><% @vor.each do |v| %>
 3&#32;<% if v.lat >= 0 %>&#32;<% end %><% if v.lat > -10 and v.lat < 10 %>&#32;<% end %><%= number_with_precision(v.lat, precision: 8) %>&#32;<% if v.lon >= 0 %>&#32;<% end %><% if v.lon > -10 and v.lon < 10 %>&#32;<% end %><% if v.lon > -100 and v.lon < 100  %>&#32;<% end %><%= number_with_precision(v.lon, precision: 8) %>&#32;&#32;<%= v.elevation %>&#32;&#32;<%= v.frq %>&#32;&#32;<%= v.range %>&#32;&#32;<%= number_with_precision(v.slaved, precision: 3) %>&#32;&#32;<%= v.identifier %>&#32;&#32;<%= v.name %><% end %></textarea>
        </div>


    </div>
</div>
