<div class="std-block">
    <div class="container">
        <h1>Welcome to XPOND</h1>
        <h3 class="push-h3-up">the crowd sourced "Open Nav Data for X Plane"</h3>
        <%= render 'shared/flash_messages', flash: flash %>
        <% unless signed_in? %>
        <div style="display: inline-block; width:100%; height:40px;"> </div>        
            <div class="welcome-text-box">
        <% else %>
            <div class="fullwidth-box">
        <% end %>
            In case you have used the default FMS with default aircrafts you probably noticed that X Plane misses some FIX Points, when you try to enter routes found at appropriate sources or charts (e.g. SID and STAR routes).<br>To improve this, you can comfortably use this tool to add any FIX you don't find in the default FMS.<p>&nbsp;</p>
            <center>
                <div class="count-box">
                    <h3>added FIX points:</h3><h1 class="h1-glow h1-no-margin"><%= @fix_count %></h1>
                </div>
                <div class="count-box">
                    <h3>added NDBs:</h3><h1 class="h1-glow h1-no-margin"><%= @ndb_count %></h1>
                </div>
                <br>
                <br>
            </center>
            <div style="width: 100%; text-align: center;">
                Feel free to conribute to the community by adding your first unknown FIX or NDB <u>without</u> signing up<br>now:<br>
                <%= link_to "add new FIX", new_fix_path, class: "newfix-submit-btn btn-large", style: "margin-top: 20px;" %>
                <%= link_to "add new NDB", new_ndb_path, class: "newfix-submit-btn btn-large", style: "margin-top: 20px;"%>
            </div>
            <br>
            <p style="font-size: 12px; color: #666; margin-left: auto; margin-right: auto; text-align:center;">
                All data must be obtained from publicly available, freely redistributable sources.<br>Please ask for permission first when you are not sure if the data is free to use.
            </p>
        </div>  
<% unless signed_in? %>        
        <div class="home-login-box" style="text-align: center;">
            To change a FIXs name or refine the coordinates,<br>you have to sign up and log in to do so.
            <br> <br>
            <a href="signup" class="newfix-submit-btn" style="margin-left: 0;">Sign up</a>
            <br> <br>
            <a href="login" class="newfix-submit-btn" style="margin-left: 0;">Login</a>
        </div>
<% end %>

    </div>
</div>