<div class="std-block">
    <div class="container">
        <h1>Add new FIX</h1>
        <div>
            <%= render 'shared/flash_messages', flash: flash %>
            <%= form_for @fix, html:{ id: "fix_form" }  do |f| %>
                <%= render 'fields', f: f %>
                <%= f.submit "Add FIX", class: "newfix-submit-btn new-btn-width", tabindex: "4" %>
            <% end %>
        </div>
        <%= render 'describe_fix_format' %> 
    </div>
</div>