<div class="block-head-menu">
    <div class="container">
        <ul class="logo">
            <li><%= image_tag("fix-route.png", alt: "logo", class: "logo-img") %><%= link_to "Open Nav Data for X Plane", root_path %></li>
        </ul>
        <ul class="menu-ul">
            <% if signed_in? %>
                <li class="sub-menu-right"><%= link_to "Add", "#" %>
                    <ul>
                        <li><%= link_to "FIX", new_fix_path %></li>
                        <li><%= link_to "NDB", new_ndb_path %></li>
                        <li><%= link_to "VOR", new_vor_path %></li>
                    </ul>
                </li>
                <li class="sub-menu-right"><%= link_to "Show List", "#" %>
                    <ul>
                        <li><%= link_to "FIX list", fixes_path %></li>
                        <li><%= link_to "NDB list", ndbs_path %></li>
                        <li><%= link_to "VOR list", vors_path %></li>
                    </ul>
                </li>
                <li><%= link_to "Map", '/map' %></li>
                <li><%= link_to "Download", download_path %></li>
                <li class="menu-signin sub-menu-left"><%= link_to current_user.name, current_user %>
                    <ul>
                        <li><%= link_to "All users", users_path %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="dr-divider"></li>
                        <li><%= link_to "logout", logout_path, method: "delete" %></li>
                    </ul>
                </li>
            <% else %>
                <li class="sub-menu-right"><%= link_to "Add", "#" %>
                    <ul>
                        <li><%= link_to "FIX", new_fix_path %></li>
                        <li><%= link_to "NDB", new_ndb_path %></li>
                        <li><%= link_to "VOR", new_vor_path %></li>
                    </ul>
                </li>
                <li><%= link_to "Download", download_path %></li>
                <li><%= link_to "Map", '/map' %></li>
                <li class="menu-signin"><%= link_to "login", login_path %></li>
            <% end %>
        </ul>
    </div>
</div>