<div class="block-head-menu">
    <div class="container">
        <ul class="logo">
            <li><%= image_tag("star-route.png", alt: "logo", class: "logo-img") %><%= link_to "Open Nav Data for X Plane", root_path %></li>
        </ul>
        <ul class="menu-ul">
            <li><%= link_to "Add new FIX", new_fix_path %></li>
            <li><%= link_to "Download", fixes_path %></li>
            <li><%= link_to "FIX - Map", '/map' %></li>
        </ul>
    </div>
</div>